@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@400;700&display=swap');

/* BASE */

:root{
  --primary: #dc5cb4;
  --secondary: #ecdcbc;
  --tertiary: #a07fc9;
  --accent: #744c5c;
  --background: #3c3c4c;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: 'Oswald', sans-serif;
  color: var(--secondary);
}


/* BASIC ELEMENTS */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Lobster', cursive;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px var(--accent);
}

p {
  margin: 0.5em 0;
}


/* BUILDING BLOCKS */

.button, a.button {
  border: 0;
  border-radius: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.button-bright, a.button-bright {
  background: var(--secondary);
  color: var(--background);
}

.button-transparent, a.button-transparent {
  border: 0;
  background: 0;
}

.link {
  text-decoration: dashed underline 0.2em;
  padding: 0.2em;
  transition: color 0.2s;
}

.link, .link:visited, .link:hover {
  color: unset;
}


/* HELPERS */

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.to-bottom {
  position: absolute;
  bottom: 0px;
}

.flex-extend {
  flex: 1;
}

.center-text {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transparent {
  opacity: 0;
}


/* HEADER AREA */

header {
  background: var(--primary);
  padding: 0.2em;
  text-shadow: 2px 2px 2px var(--accent);
}

header > h1 {
  display: inline-block;
}

header .link:hover {
  color: var(--background);
}


/* MAIN AREA */

main {
  background: var(--accent);
  overflow: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


/* FOOTER AREA */

footer {
  background: var(--primary);
  padding: 0.2em;
  color: var(--background);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

#footer-random-quote {
  flex: 1 0 50%;
  transition: opacity 1.2s ease-in-out;
}



footer .link {
  color: var(--background);
  text-decoration-color: var(--background);
}

footer .link:hover {
  color: var(--secondary);
}


/* MEDIA QUERIES */

/* regular css for mobile and tablet portrait */

/* mobile landscape */
@media
  screen and (orientation:landscape) and (min-width: 35.5em),
  screen and (min-width: 48em) {
  main {
    flex-direction: row;
  }
}

/* tablet */
@media screen and (min-width: 48em) {
  header {
    border-radius: 0 0 0.5em 0.5em;
  }

  main {
    margin: 1em 1em;
    border-radius: 0.5em;
  }

  footer {
    border-radius: 0.5em 0.5em 0 0;
  }
}

/* PC */
@media screen and (min-width: 80em) {
  body {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: calc(100vh - 4em);
    width: calc(100vw - 12em);
  }

  header {
    border-radius: 1em 1em 0 0;
    padding: 0.8em;
  }

  main {
    margin: 1.5em 2em;
  }

  footer {
    border-radius: 0 0 1em 1em;
    padding: 0.8em;
  }
}