:root {
  --max-canvas-height: 100%;
}

main {
  background: transparent;
  display: flex;
  flex-direction: column;
}

.orientation-message {
  display: none;
  position: absolute;
  background: var(--shade);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
}

#canvas-container {
  max-width: 100%;
  /* aspect-ratio: 4/3; */
  display: flex;
  justify-content: center;
}

#canvas {
  max-height: var(--max-canvas-height);
  aspect-ratio: 4/3;
  max-width: 100%;
  background-color: var(--secondary);
  border-radius: 0 0 0.5rem 0.5rem;
  cursor: cell;
}

#controlls {
  background-color: var(--accent);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colors {
  overflow: hidden;
}

.colors-row {
  display: flex;
  flex-direction: row;
}

.clr{
  height: 1em;
  aspect-ratio: 1;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.1em 0;
}

#sizes {
  flex-direction: row;
}

.size {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 0.5em;
  display: grid;
  justify-content: center;
  align-content: center;
}

.size-ball {
  background-color: black;
  border-radius: 50%;
  aspect-ratio: 1;
}

#sizes, #extra {
  height: 1.8em;
  display: flex;
}

#controlls, #buttons, #sizes, #extra {
  gap: 0.2em;
}

#chat {
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  margin: 0.5em;
  padding: 0.2em;
  border: 0.2em solid var(--secondary);
  border-radius: 0.5em;
}

#chat > h2 {
  text-shadow: 2px 2px 2px var(--background);
}

#chat-text {
  border-bottom: 0.2em dashed var(--secondary);
  overflow: auto;
}

#chat-text > span {
  font-weight: bold;
}

#chat-input {
  height: 100%;
  border: 0;
  background-color: transparent;
  color: var(--secondary);
}

#chat-input:focus {
  outline: 0;
}

#chat-inputs {
  height: 1.8rem;
  display: flex;
  flex-direction: row;
}

.chat-inputs > button {
  margin: 0.2rem;
  padding: 0 0.2rem;
}

.button, a.button {
  padding: 0 0.5em;
  height: 100%;
}


/* MEDIA QUERIES */

/* mobile landscape */
@media
  screen and (orientation:landscape) and (max-width: 49em) {
    .orientation-message {
      display: flex;
    }
}

/* tablet */
@media screen and (min-width: 48em) {
  main {
    flex-direction: row;
  }
}

@media screen and (min-width: 48em) and (max-width: 80em) {
  h2 {
    margin: 0.2em;
  }

  main {
    margin: 0.4em 0;
    border-radius: 0;
  }

  #container {
    justify-content: center;
  }

  #controlls {
    border-radius: 0 0.5em 0 0;
  }

  #canvas {
    border-radius: 0 0 0.5rem 0;
  }

  #chat {
    margin-right: 0;
    border-radius: 0.5em 0 0 0.5em;
    border-right: 0;
  }
}

/* PC */
@media screen and (min-width: 80em) {
  /* placeholder */
}