:root {
  --max-canvas-height: 100%;
}

main {
  background: transparent;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
}

#canvas-container {
  max-width: 100%;
  /* aspect-ratio: 4/3; */
  display: flex;
  justify-content: center;
}

#canvas {
  max-height: var(--max-canvas-height);
  aspect-ratio: 4/3;
  max-width: 100%;
  background-color: var(--secondary);
  border-radius: 0 0 0.5rem 0.5rem;
  cursor: cell;
}

#controlls {
  background-color: var(--accent);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colors {
  overflow: hidden;
}

.colors-row {
  display: flex;
  flex-direction: row;
}

.clr{
  height: 1em;
  aspect-ratio: 1;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.1em 0;
}

#sizes {
  flex-direction: row;
}

.size {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 0.5em;
  display: grid;
  justify-content: center;
  align-content: center;
}

.size-ball {
  background-color: black;
  border-radius: 50%;
  aspect-ratio: 1;
}

#sizes, #extra {
  height: 1.8em;
  display: flex;
}

#controlls, #buttons, #sizes, #extra {
  gap: 0.2em;
}

#chat {
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  margin: 0.5em;
  padding: 0.2em;
  border: 0.2em solid var(--secondary);
  border-radius: 0.5em;
}

#chat > h2 {
  text-shadow: 2px 2px 2px var(--background);
}

#chat-text {
  border-bottom: 0.2em dashed var(--secondary);
}

#chat-text > span {
  font-weight: bold;
}

#chat-input {
  height: 100%;
  border: 0;
  background-color: transparent;
  color: var(--secondary);
}

#chat-input:focus {
  outline: 0;
}

#chat-inputs {
  height: 1.8rem;
  display: flex;
  flex-direction: row;
}

.chat-inputs > button {
  margin: 0.2rem;
  padding: 0 0.2rem;
}

.button, a.button {
  padding: 0 0.5em;
  height: 100%;
}


/* MEDIA QUERIES */

/* mobile landscape */
@media
  screen and (orientation:landscape) and (min-width: 35.5em),
  screen and (min-width: 48em) {
    
}

/* tablet */
@media screen and (min-width: 48em) {
/*   main {
    flex-direction: row;
  } */
}

/* PC */
@media screen and (min-width: 80em) {

}

/* 
main {
  background: transparent;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#container {
  display: flex;
  flex-direction: column;
}

#canvas-container {
  height: calc(100% - 2rem);
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
}

#canvas {
  height: 100%;
  aspect-ratio: 4/3;
  background-color: var(--secondary);
  border-radius: 0 0 0.5rem 0.5rem;
  cursor: cell;
}

#controlls {
  background-color: var(--accent);
  height: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chat {
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  padding: 0.2rem;
  border: 0.2rem solid var(--secondary);
  border-radius: 0.5rem;
  margin: 1rem 0;
  margin-left: 1rem;
}

#chat > h2 {
  text-shadow: 2px 2px 2px var(--background);
}

#chat-text {
  border-bottom: 0.2rem dashed var(--secondary);
}

#chat-text > span {
  font-weight: bold;
}

#chat-input {
  height: 100%;
  border: 0;
  background-color: transparent;
  color: var(--secondary);
}

#chat-input:focus {
  outline: 0;
}

#chat-inputs {
  height: 1.8rem;
  display: flex;
  flex-direction: row;
}

.chat-inputs > button {
  margin: 0.2rem;
  padding: 0 0.2rem;
}

#colors {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.colors-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clr{
  height: 1em;
  aspect-ratio: 1;
}

#sizes {
  display: flex;
}

.size {
  height: 2em;
  aspect-ratio: 1;
  background-color: var(--tertiary);
  border-radius: 0.5em;
  display: grid;
  justify-content: center;
  align-content: center;
}

.size > div {
  background-color: black;
  border-radius: 50%;
  aspect-ratio: 1;
}

#buttons {
  margin: 0.2rem 0.4rem;
} */