.main-bordered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-bordered-images {
  display: grid;
  gap: 0.5em;
  margin: 1em;
}

/* MEDIA QUERIES */

/* regular css for mobile and tablet portrait */

/* landscape mobile or tablet and bigger */
@media screen and (orientation: landscape) and (min-width: 37.5em),
  /* mobile-landscape-max */ screen and (min-width: 56.25em) {
  /* tablet-landscape-min */
  .main-bordered {
    height: fit-content;
  }

  .main-bordered-images {
    grid-template-columns: 1fr 1fr;
  }
}
