.main-bordered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-bordered-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em;
}

.small-image {
  border-radius: 0.5em;
}


/* MEDIA QUERIES */

/* regular css for mobile and tablet portrait */

/* landscape */
@media 
  screen and (orientation:landscape) and (min-width: 35.5em),
  screen and (min-width: 48em) {
    .main-bordered {
      height: calc(100% - 0.8em);
    }

    .main-bordered-images {
      flex: 1;
      flex-wrap: wrap;
    }

    .small-image {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 5em;
    }
}